<div id="video-modal" class="modal">
    <div class="modal-content">
        <span class="close-modal-btn">&times;</span>
        <img id="modal-video-stream" src="" alt="Video Stream Fullscreen">
        <div class="modal-controls">
            <button id="snapshot-btn" class="modal-btn">
                <i class="fas fa-camera"></i> Capturar
            </button>
            <button id="modal-pause-resume-btn" class="modal-btn">
                <i class="fas fa-pause"></i> Pausar
            </button>
    </div>
</div>